@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Luxurious+Roman&family=Poppins:wght@200;400;600&family=Sacramento&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
 font-family: 'poppins', sans-serif;
 font-size: 15px;
}
header{
    text-align: center;
    padding: 70px 0px 60px 0px ;
}
header h1{
    font-size: 1.5rem;
    font-weight: 200;
    color:hsl(234, 12%, 34%);
}
header h2{
    font-size: 1.5rem;
    font-weight:600;
    color:  hsl(234, 12%, 34%);
    margin-bottom: 1rem;
}
header p{
    font-size:1rem;
    color:hsl(229, 6%, 66%);
    font-weight: 400;
    max-width: 500px;
    margin:0 auto;
}
.cards{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.card{
    box-shadow:2px 8px 25px 0px hsl(229deg 31% 78% / 72%) ;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 2rem;
    max-width: 400px;
}
.card.a{
    border-top: 5px solid hsl(180, 62%, 55%);
}
.card.b{
    border-top: 5px solid  hsl(0, 78%, 62%);   
}
.card.c{
    border-top: 5px solid hsl(34, 97%, 64%);
}
.card.d{
    border-top: 5px solid hsl(212, 86%, 64%);
}
.card img{
    display: block;
    margin-left: auto;
    margin-top: 30px;
}
.card h2{
    color: hsl(234, 12%, 34%);
}
.card p{
    color: hsl(229, 6%, 66%);
}
@media only screen and (min-width:1440px) {
    .cards{
        flex-direction: row;
        
    }
    .card{
        margin: 20px;
        margin-bottom: 30px;
    }
    header h1 {
        font-size: 2rem;
    }
    header h2{
        font-size: 2rem;
    }
}